#app-container {
  height: 100%;
  max-width: 800px;
  padding-left: 0;
  padding-right: 0;

  /* display styling */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app-title {
  background-color: #FF0000;
  border-bottom: 5px solid #000000;
  text-align: center;
  width: 100%;
}

#app-title > .lead {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow:
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black;

  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

#app-subtitle {
  border-bottom: 5px solid #000000;
  text-align: center;
  width: 100%;
}

#app-subtitle > .lead {
  color: #FF0000;
  font-size: 24px;
  font-weight: bold;

  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.container #body-content {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/static/background.jpg");
  background-position: center;
  width: 100%;

  /* display styling */
  display: flex;
  flex: 1;
  flex-direction: column;
}

#body-content > #form {
  display: flex;
  flex: 9;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#body-content > #form > .lead {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bolder;
  text-shadow:
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black;

  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

#body-content > #form > .btn {
  background-color: #FF0000;
  border: 4px solid #000000;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

#body-content > #footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#body-content > #footer > .lead {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: bolder;
  text-decoration: underline;

  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

#about-button:hover {
  cursor: pointer;
}


#result-text {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bolder;
  text-shadow:
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black;

  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
